---
layout: page
---
{% assign theme = site.data.themes[site.ui_theme] %}




<div class="blogcard {{ page.card }} mb-4 mt-4" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title text-center" style="font-size:{{ theme.post-tag-size }};">{{ page.tag }}</h5>
    <h5 class="card-title text-center" style="font-size:{{ theme.post-title-size }};font-weight:{{ theme.post-font-weight }};">{{ page.title }}</h5>
    <h6 class="card-subtitle text-center" style="font-size:{{ theme.post-author-size }};">Author: {{page.author}} | Published {{page.date}}</h6>
    {% include social-cards-copy.html %}
  </div>
</div>

<div class="card border-0" style="width: 100%;">
  <div class="card-body">
    <p class="card-text">{{ content | markdownify }}</p>
  </div>
</div>

  <!-- Gitalk 评论 start  -->

      {% if site.gitalk.enable %}
      <!-- Link Gitalk 的支持文件 -->
      <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
      <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
      <div id="gitalk-container"></div>
      <script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.js"></script> 
      <script type="text/javascript">
        var gitalk = new Gitalk({
        // gitalk的主要参数
          clientID: '{{site.gitalk.clientID}}',
          clientSecret: '{{site.gitalk.clientSecret}}',
          repo: '{{site.gitalk.repo}}',
          owner: '{{site.gitalk.owner}}',
          admin: ['{{site.gitalk.admin}}'],
          distractionFreeMode: '{{site.gitalk.distractionFreeMode}}',
          id: md5(location.pathname),
        });
        gitalk.render('gitalk-container');
      </script>
      {% endif %}
  <!-- Gitalk end -->
